<div ng-include="'grades/components/navbar/navbar.html'"></div>
<div id="gradesPageProfessor" class = "pageScale">
  <div class="container">
      
    <!-- Icons Download and Search -->
    <div class="row">
      <div class="col-xs-12">
        <ul class="icons_d_s">
          <li><img src="grades/img/icon_download.png"></li>
          <li><img src="grades/img/icon_search.png" ng-click="openGradesFilterModal(this)"></li>
        </ul>
      </div>
    </div>
    
    <!-- Detail Studen Bars Progress -->
    <div class="row">
      <div class="col-xs-12 col-md-2"></div>
      <div class="col-xs-12 col-md-8 text-center">
        <img alt="Profile Picture" id = "userImg" src = "{{detail.imgLink}}" onError="this.onerror=null;this.src='../../../assets/images/ck_basic.png';" width="128" height="129"/>

        <!-- <img src="img/photo.png" width="128" height="129" alt="Photo"> -->
        <br><br>
        <h1 id="namePerson" class="text-center grades_title">{{detail.firstName + ' ' + detail.lastName}}</h1>
        
        <div id="studentId" class="studentId">
          Student Id {{userID}}
        </div>
        
        <ul class="tags_options">
          <li class="tag_1 active_tag" ng-click="filterAll()">All</li>
          <li class="tag_2" ng-click="filterAss()">Assignment</li>
          <li class="tag_3" ng-click="filterAtt()">Attendance</li>
        </ul>

        <table class="settingtable_details">
          <tbody>
            <tr ng-repeat="section in data">
              <td width="15%" ng-if="$index == 0"><span style="margin-right: 20px;">Parent Class</span></td>
              <td width="15%" ng-if="$index != 0"><span style="margin-right: 20px;">{{section.name}}</span></td>
              <td width="70%" ng-if="$index == 0">
                <div class="progress bar_p_y_modif_i">
                  <div class="progress-bar progress-bar-warning bar_p_y_modif_ii" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:  {{getFormatedPercent(thisStudent[$index].percent)}}%;">
                    <span class="sr-only">{{getFormatedPercent(thisStudent[$index].percent)}}% Complete (warning)</span>
                  </div>
                </div>
              </td>
              <td width="70%" ng-if="$index != 0">
                <div class="progress bar_p_y_modif_i">
                  <div class="progress-bar progress-bar-warning bar_p_w_modif_ii" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:  {{getFormatedPercent(thisStudent[$index].percent)}}%;">
                    <span class="sr-only">{{getFormatedPercent(thisStudent[$index].percent)}}% Complete (warning)</span>
                  </div>
                </div>
              </td>
              <td width="15%"><span style="margin-left:15px;">{{getFormatedPercent(thisStudent[$index].percent)}}%</span></td>
            </tr>                   
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-md-2"></div>
    </div>   
    
    <!-- Datatables -->
    <div class="row">
      <div class="col-xs-12 col-md-1"></div>
      <div class="col-xs-12 col-md-10">
        <br><br>
        <table id="dtGrades" class="display dtGrades" cellspacing="0" width="100%" style="padding-left: 0; width: 100%;">
          <thead>
            <tr>
              <th width="40%" class="section_name">Section Name</th>
              <th width="40%"></th>
              <th class="grade" width="10%">Grade</th>
              <th width="10%" class="text-center"></th>
            </tr>
          </thead>
          <tfoot class="oculto">
            <tr>
              <th>Sections</th>
              <th></th>
              <th>Grade</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody  ng-repeat="section in filtered = (data | filter:{name:searchSection})" data-ng-switch on="rowCollapsed[section.courseID][$index]">
            <tr role="row" class="odd">
              <td class="dropdownsetting data_section_name  sorting_1">{{section.name}}</td>
              <td class="dropdownsetting"></td>
              <td class="dropdownsetting data_sub_grade">{{getFormatedPercent(thisStudent[$index].percent)}}%</td>
              <td class="details-control dropdownsetting text-center" ng-click="selectTableRow($index, section.courseID, $event)"><img id="icon_arrow{{section.courseID}}" class="arrowdown" src="grades/img/arrowup.png"></td>
            </tr>
            <tr data-ng-switch-when="true">
              <td colspan="4">
                <div ng-include="'grades/components/professor/feature/grades/table-template-ii.html'" id="{{section.courseID}}_wrapper" class="dataTables_wrapper"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-md-1"></div>
    </div>

  </div>
</div>
<script type="text/ng-template" id="gradesFilterModal">
  <div ng-include="'grades/components/modals/gradesFilterModal.html'"></div>
</script>

<script type="text/ng-template" id="infoQuizModal">
  <div ng-include="'grades/components/modals/infoQuizModal.html'"></div>
</script>

<script type="text/ng-template" id="infoQuizDetailModal">
  <div ng-include="'grades/components/modals/infoQuizDetailModal.html'"></div>
</script>

<script type="text/ng-template" id="attendanceModali">
  <div ng-include="'grades/components/modals/attendanceModali.html'"></div>
</script>

<script type="text/ng-template" id="assignmentsImageA">
  <div ng-include="'grades/components/modals/assignmentsImageA.html'"></div>
</script>

<script type="text/ng-template" id="modalNotifications">
  <div ng-include="'grades/components/modals/modalNotifications.html'"></div>
</script>

